.board {
    background: #474343;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 1em;
  }

  @media screen and (max-width: 768px) {
    .board{
      width: 350px;
      height: 350px;
    }
  }

  @media screen and (max-width: 425px) {
    .board{
      width: 280px;
      height: 280px;
    }
  }